* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Permanent Marker", cursive;

}

body {
    position: relative;
    background-color: #171A1F;
}

header {
    text-align: center;
    color: white;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}


.head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

.head p {
    width: 30%;
    padding-top: 25px;
    font-size: 1rem;
}
.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid seagreen; */
}

#filter ul{
    display: flex;
    list-style-type: none;
    color: antiquewhite;
}

#filter li{
    cursor: pointer;
    margin: 15px;
    padding: 10px 25px 10px 0;
    border-right: 2px solid #444;
    transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
}


#filter li:last-child {
    border-right: none;
}

#filter li:hover {
    background: #8353E2;
    transform: scale(1.1);
    border-radius: 20px;
    padding: 10px 30px;
    border-right: none;
}


.game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; 
    justify-content: center; 
    align-items: stretch; 
    margin: 20px auto; 
    max-width: 1200px; 
    width: 90%; 
}

.game {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px; 
    transition: opacity 0.3s ease;
}

.game h3 {
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
}

.game.hidden {
    opacity: 0;
}

/* .game img {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    border-radius: 8px; 
    border: 1px solid #DEE1E6;
} */

.game .game-image {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    min-height: 400px; 
    border-radius: 8px; 
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.game .game-image:hover {
    border-color:white;
}

.game h3 {
    margin-top: 10px; 
}

.gif {
    display: none; 
}

.game:hover .gif {
    display: block; 
    width: 400px; 
    height: auto; 
    margin: 25px auto 0 auto;
}

.description {
    position: fixed;
    top: 50%;
    left: 13%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 50px;
    border-radius: 5px;
    max-width: 600px;
    visibility: hidden; 
    opacity: 0; 
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1;
}

.game:hover .description {
    visibility: visible; 
    opacity: 1; 
}

.hidden {
    display: none;
}

@media screen and (max-width: 1280px) {
    .gif {
        display: none; 
    }
    
    .game:hover .gif {
        width: 150px; 
    }
    
    .description {
        top: 27%;
        left: 50%;
        padding: 20px;
        max-width: 500px;
    }
}